{{!< default}}

{{> menu}}

<div class="featured-image-wrap clearfix">
	<button id="showLeft"><i class="icon-flickr"></i></button>
	<div class="featured-image" data-height="420"></div>
</div>

<div id="main-wrapper">
	<div class="container-wrap">

	<div class="container">
		<div class="row">
			<main class="main-content col-sm-9" role="main">

			  <article class="{{post_class}}">
			    {{#post}}
					<a id="intro" class="anchor">&nbsp;</a>
			    <section class='post-content'>
				    <h1 class="title">{{{title}}}</h1>
				    <div class='text'>{{content}}</div>
					</section>

					{{/post}}
			  </article>
			</main>

			<aside id="sidebar" class="col-sm-3" role="complementary">
				<div class="side-content">
					<section class="author widget">
						{{#post}}
							{{#if author}}
		          	<img src="{{author.image}}" alt="">
		            <h4>{{author.name}}</h4>
		            <p>{{author.bio}}</p>
			        {{/if}}
			      {{/post}}

						<div class="share">
		        	{{> share}}
		        </div>
					</section><!-- author -->

					{{! Place your ads or badges here }}
					<section class="ads widget">

					<a class="twitter-timeline" href="https://twitter.com/areskib" data-widget-id="430374921672224769">Tweets by @areskib</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

					</section>
		    </div><!-- side content -->
			</aside><!-- #sidebar -->

		</div>
	</div>